*, *::after, *::before {
  box-sizing: border-box
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body, 
section, 
#card-container {
  display: flex;
  flex-direction: column;
  color:antiquewhite;
  font-family: "Exo 2";
}

body {
  justify-content: space-between;
  background: #274E13 url("./images/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#gameboard {
  align-items: center;
}

h1, p {
  margin: 0;
}

h1 {
  font-size: 2.75rem;
  margin-bottom: .5em;
  font-weight: 400;
}

p {
  font-size: 2.125rem;
  font-weight: 300;
}


/* =============
  Deck
=============== */
#card-deck {
  display: flex;
  align-items: center;
  margin-top: .75em;
  position: relative;
  height: 50px;
}

#card-deck p {
  font-size: 1.5rem;
}
#card-deck p:nth-child(2) {
  margin: 0 .25em 0 6.5em;
}

/* =============
  Cards
=============== */
#status-message {
  font-size: 2rem;
}

#card-container {
  align-items: center;
  gap: 3em;
  margin: .75em 0;
}

.card-slot {
  height: 150px;
  aspect-ratio: 5 / 7;
  border: 2px solid black;
  border-radius: 5px;
}

.card-slot img {
  width: 100%;
  height: 100%;
}

/* ============
  Score
============= */
.score-container {
  display: flex;
  gap: .5em;
}

/* ============
  Buttons
============= */

.btn {
  font-weight: bold;
  padding: 1em;
  border: none;
  background-color:gold;
  cursor: pointer;
  font-size: 1rem;
}

#get-new-deck {
  position: absolute;
  left: -5px;
  height: 100%;
}

#draw-cards {
  width: 100%;
}

button:disabled {
  cursor: not-allowed;
}